platform: Any CPU
configuration: Release
version: 1.0.{build}

assembly_info:
  patch: true
  file: '**\AssemblyInfo.cs'
  assembly_version: '{version}'
  assembly_file_version: '{version}'
  assembly_informational_version: '{version}'

build:
  publish_nuget: true
  parallel: true
  project: VineClient.sln

before_build:
  - nuget restore

deploy:
- provider: NuGet
  api_key:
    secure: VgpA4NJgZjB689R1BP3A4bbtQzjprU8U/Cgre7NS5IDWxry5Z9WxhFUqz8lWsRnw
  artifact: /.*\.nupkg/

after_build:
  - nuget pack VineClient.nuspec -version %APPVEYOR_BUILD_VERSION%
  - appveyor PushArtifact VineClient.%APPVEYOR_BUILD_VERSION%.nupkg

pull_requests:
  do_not_increment_build_number: true
skip_non_tags: true

notifications:
- provider: Webhook
  url: https://webhooks.gitter.im/e/e16993b457c1c854f72d
  on_build_success: true
  on_build_failure: true
  on_build_status_changed: true
